<head>
    <title>Everything About COVID19</title>

    <!-- 引入 Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- 引入 axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入 Element+ 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- 引入 Element+ 组件库 -->
    <script src="https://unpkg.com/element-plus"></script>
    <!-- 引入 echarts -->
    <script type="text/javascript" src="https://unpkg.com/echarts@5.2.0/dist/echarts.min.js" ></script>
    <!-- 引入中国地图 -->
    <script type="text/javascript" src="C:\\Users\\oneman233\\Desktop\\COVID19\\china.js" ></script>
    <!-- 引入视频播放插件 -->
    <script src="https://cdn.jsdelivr.net/npm/xgplayer@2.9.6/browser/index.js" type="text/javascript"></script>
</head>

<body>

    <div id="app">

        <!-- 导航栏 -->
        <el-menu
            default-active="1"
            @select="menuSelect"
            mode="horizontal"
        >

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- 插入校徽 -->
            <a href="https://www.seu.edu.cn/">
                <el-image
                    style="width: 50; height: 50"
                    :src="seulogo"
                ></el-image>
            </a>

            &nbsp;&nbsp;&nbsp;

            <el-menu-item index="1" style="color: #409EFF;font-size: large;">
                Map
            </el-menu-item>

            <el-menu-item index="2" style="color: #409EFF;font-size: large;">
                Prevention
            </el-menu-item>

            <!-- <el-menu-item index="3" style="color: #409EFF;font-size: large;">
                News
            </el-menu-item> -->

            <el-menu-item index="4" style="color: #409EFF;font-size: large;">
                Papers
            </el-menu-item>

            <el-menu-item index="5" style="color: #409EFF;font-size: large;">
                Video
            </el-menu-item>

            <el-menu-item index="6" style="color: #409EFF;font-size: large;">
                About
            </el-menu-item>

            <el-link type="info" disabled="true" icon="el-icon-timer"
            style="margin-left: auto;margin-right: 20px;">{{ date }}</el-link>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </el-menu>

        <br>

        <!-- 新冠疫情地图 -->

        <transition name="el-fade-in-linear">
            <div id='map' style=
                "width: 1300;height:850;
                box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                border-radius: 20px;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;"
                v-show='show == 1'
            ></div>
        </transition>

        <!-- 新冠防护知识 -->

        <el-row>
          <el-col :span="12" :offset="6">

            <transition name="el-fade-in-linear">
                <div v-show='show == 2'>

                    <p style="font-size: 20px;
                    font-family:'Times New Roman', Times, serif;
                    text-align: center;
                    font-weight: bold;">
                        COVID-19 Prevention Guide
                    </p>

                    <!-- <el-divider>
                        <i class="el-icon-star-on"></i>
                    </el-divider> -->

                    <el-divider content-position="right">
                        <a style="color: #909399;">
                            Designed & Produced by Chendong Tian
                        </a>
                    </el-divider>

                    <el-carousel height="726" type="card"
                    style="box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                    border-radius: 20px;">
                        <el-carousel-item style="box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                        border-radius: 20px;">
                            <el-image style="width: 100%;height: 100%;"
                            src="C:\\Users\\oneman233\\Desktop\\COVID19\\advice_1.jpg"></el-image>
                        </el-carousel-item>
                        <el-carousel-item style="box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                        border-radius: 20px;">
                            <el-image style="width: 100%;height: 100%;"
                            src="C:\\Users\\oneman233\\Desktop\\COVID19\\advice_2.jpg"></el-image>
                        </el-carousel-item>
                        <el-carousel-item style="box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                        border-radius: 20px;">
                            <el-image style="width: 100%;height: 100%;"
                            src="C:\\Users\\oneman233\\Desktop\\COVID19\\advice_3.jpg"></el-image>
                        </el-carousel-item>
                        <el-carousel-item style="box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                        border-radius: 20px;">
                            <el-image style="width: 100%;height: 100%;"
                            src="C:\\Users\\oneman233\\Desktop\\COVID19\\advice_4.jpg"></el-image>
                        </el-carousel-item>
                        <el-carousel-item style="box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                        border-radius: 20px;">
                            <el-image style="width: 100%;height: 100%;"
                            src="C:\\Users\\oneman233\\Desktop\\COVID19\\advice_5.jpg"></el-image>
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </transition>

          </el-col>
        </el-row>

        <!-- 新冠新闻 -->

        <!-- <el-row>
          <el-col :span="12" :offset="6">
            <transition name="el-fade-in-linear">
                <div v-show="show == 3">

                    <el-collapse @change="newsChange">
                        <el-scrollbar height="1000px">
                            <el-collapse-item v-for="(n, id) in news" :name="id">
                            
                                <template #title>
                                    <p style="font-size: large;font-weight: bold;">
                                        {{ n.title }}
                                    </p>
                                </template>
    
                                <div style="white-space: pre-wrap;">
                                    {{ n.summary }}
                                </div>
    
                                <el-link type="primary" :href="n.sourceUrl">
                                    Original Link
                                </el-link>
                            
                            </el-collapse-item>
                        </el-scrollbar>
                    </el-collapse>

                </div>
            </transition>
          </el-col>
        </el-row> -->

        <!-- 新冠科研论文 -->

        <el-row>
            <el-col :span="16" :offset="4">
              <transition name="el-fade-in-linear">
                  <div v-show="show == 4">

                    <p style="font-size: 20px;
                    font-family:'Times New Roman', Times, serif;
                    text-align: center;
                    font-weight: bold;">
                        Papers Related To COVID-19
                    </p>

                    <div style=
                    "width: 1300;height:785;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
                    border-radius: 20px;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;">
  
                      <!-- 只允许打开一个的话就设置 accordion 属性 -->
                      <el-collapse @change="paperChange" accordion>
                          <!-- 加入滚动条，同时固定页面高度 -->
                          <el-scrollbar height="1000px">
                              <el-collapse-item v-for="(n, id) in papers" :name="id">

                                    <!-- 标题部分 -->
                                    <template #title>
                                        <a v-if="n.title.length < 140" style="font-size: medium;font-weight: bold;color: #606266;">
                                            {{ id+1 }}: {{ n.title }}
                                        </a>
                                        <a v-else style="font-size: medium;font-weight: bold;color: #606266;">
                                            {{ id+1 }}: {{ n.title.substring(0,140) }}...
                                        </a>
                                    </template>

                                    <!-- 内容块 -->
                                    <div style="white-space: pre-wrap;">
                                        <p style="font-weight: bold;">
                                            Written By {{ n.authors[0].name }} etc.
                                        </p>
                                        <div v-if="n.abstract != null" style="color: #909399;">
                                            {{ n.abstract }}
                                        </div>
                                        <div v-else style="color: #909399;">
                                            NO ABSTRACT
                                        </div>
                                    </div>
                                    
                                    <!-- 论文链接 -->
                                    <el-link type="primary" :href="getPaperURL(n.paperId)">
                                        Original Link
                                    </el-link>
                              
                              </el-collapse-item>
                          </el-scrollbar>
                      </el-collapse>

                    </div>
  
                  </div>
              </transition>
            </el-col>
          </el-row>

        <!-- 新冠视频 -->
        <transition name="el-fade-in-linear">
            <el-row>
              <el-col :span="8" :offset="6">
                  <div v-show="show == 5" id="video"></div>
              </el-col>
        </transition>

        <!-- 关于我们 -->

        <transition name="el-fade-in-linear">
            <div v-show="show == 6">

                <el-row>
                  <el-col :offset="6">
                      <a style="color: #F56C6C;font-weight: bold; font-size: large;">
                        Who are we
                      </a>
                  </el-col>
                </el-row>

                <el-row>
                    <el-col :offset="6">
                        <p>
                            We are a team from Southeast University,
                            hoping to make small contributions to the future of humanity.
                        </p>

                        <!-- 成员信息 -->

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\tianchengdong.bmp"></el-avatar>
                            Chendong Tian: 
                        </a>
                        <i>Best Graphic Designer</i>

                        &nbsp;

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\denghaoran.jpg"></el-avatar>
                            Haoran Deng: 
                        </a>
                        <i>Crazy About Cats</i>

                        <br>

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\lichen.bmp"></el-avatar>
                            Chen Li: 
                        </a>
                        <i>Heavenly Voice</i>

                        &nbsp;

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\lihanyue.bmp"></el-avatar>
                            Hanyue Li: 
                        </a>
                        <i>Oscar Queen</i>

                        &nbsp;

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\wangyan.bmp"></el-avatar>
                            Yan Wang: 
                        </a>
                        <i>Crazier About Cats</i>

                        <br>

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\heran.bmp"></el-avatar>
                            Ran He: 
                        </a>
                        <i>Won Nobel Prize In Literature</i>

                        &nbsp;

                        <a>
                            <el-avatar :size="50" src="C:\\Users\\oneman233\\Desktop\\COVID19\\avatar\\penghaochao.bmp"></el-avatar>
                            Haochao Peng: 
                        </a>
                        <i>Making our video understandable</i>

                        &nbsp;

                    </el-col>
                </el-row>

                <br>

                <el-row>
                    <el-col :offset="6">
                        <a style="color: #F56C6C;font-weight: bold; font-size: large;">
                            Why we make this
                        </a>
                    </el-col>
                  </el-row>
    
                  <el-row>
                    <el-col :offset="6">

                        <p>
                            <b>
                                The outbreak of COVID-19 in late 2019
                                have profoundly changed human history forever.
                            </b>
                        </p>

                        <p>
                            <b>
                                However, its greatest danger lies not in death,
                                but in the trend of dividing human society into isolated islands.
                            </b>
                        </p>

                        <p>
                            <b>
                                We want to use the internet to stop this trend,
                                and help people beat the COVID-19 epidemic faster.
                            </b>
                        </p>

                    </el-col>
                </el-row>

                <!-- <el-row>
                    <el-col :offset="6">
                        <a style="color: #F56C6C;font-weight: bold; font-size: large;">
                            What is our aim
                        </a>
                    </el-col>
                  </el-row>
    
                  <el-row>
                    <el-col :offset="6">
                        <p>
                            Providing people with accurate knowledge of COVID-19 protection.
                        </p>
                        <p>
                            Providing people with timely information on COVID-19.
                        </p>
                        <p>
                            Collecting as many scientific papers as possible about COVID-19.
                        </p>
                    </el-col>
                </el-row> -->

                <el-row>
                    <el-col :offset="6">
                        <a style="color: #F56C6C;font-weight: bold; font-size: large;">
                            Please rate us!
                        </a>
                    </el-col>
                  </el-row>

                <br>

                <el-row>
                    <el-col :offset="6">
                        <!-- 评分框，并且显示指示性文字 -->
                        <el-rate
                        v-model="rate"
                        :texts="['oops', 'disappointed', 'normal', 'good', 'great']"
                        show-text
                        >
                        </el-rate>
                    </el-col>
                </el-row>

            </div>
        </transition>

    </div>

</body>

<script>
    const APP = {
        data() {
            return {
                seulogo: 'C:\\Users\\oneman233\\Desktop\\COVID19\\seulogo.svg',
                show: 1, // 当前显示哪个页面
                date: new Date().toString().slice(0, -18), // 当前时间
                news: {},   // 新冠相关新闻,
                papers: {}, // 新冠论文
                rate: 0,    // 评分
            }
        },
        mounted() {
            setInterval(() => {
                this.date = new Date().toString().slice(0, -18);
            }, 1000);
        },
        created() {
            // 获取新冠新闻
            // axios.get('https://lab.isaaclin.cn/nCoV/api/news')
            // .then(res => {
            //     console.log(res.data.results)
            //     this.news = res.data.results
            // })
            // .catch(err => {
            //     console.error(err); 
            // })

            // 获取新冠论文
            axios.get("https://api.semanticscholar.org/graph/v1/paper/search?query=COVID+prevention&limit=15&fields=title,authors,abstract")
            .then(res => {
                console.log(res.data.data)
                this.papers = res.data.data
            })
            .catch(err => {
                console.error(err); 
            })
        },
        methods: {
            menuSelect(key, KeyPath) {
                this.show = KeyPath
                console.log('选中了页面：' + KeyPath)
            },
            // newsChange(val) {
            //     console.log('新闻：' + val);
            // },
            paperChange(val) {
                console.log('论文：' + val);
            },
            getPaperURL(val) {
                return "https://www.semanticscholar.org/paper/" + val;
            },
        },
    };

    const app = Vue.createApp(APP);
    app.use(ElementPlus);
    app.mount('#app');

    let player = new Player({
        id: 'video',
        url: 'C:\\Users\\oneman233\\Desktop\\COVID19\\Infection Prevention for COVID19 An Illustrated Summary.mp4',
        width: 1000,
        height: 800,
    });

    var mydata = [  
        {name: 'BeiJing',value: 1119},
        {name: 'TianJin',value: 481},
        {name: 'ShangHai',value: 2557},
        {name: 'ChongQing',value: 603},
        {name: 'HeBei',value: 1317},
        {name: 'HeNan',value: 1539},
        {name: 'YunNan',value: 1309},
        {name: 'LiaoNing',value: 450},
        {name: 'HeiLongJiang',value: 1616},
        {name: 'HuNan',value: 1181},
        {name: 'AnHui',value: 1008},
        {name: 'ShanDong',value: 929},
        {name: 'XinJiang',value: 980},
        {name: 'JiangSu',value: 1592},
        {name: 'ZheJiang',value: 1442},
        {name: 'JiangXi',value: 937},
        {name: 'HuBei',value: 68295},
        {name: 'GuangXi',value: 295},
        {name: 'GanSu',value: 199},
        {name: 'ShanXi',value: 260},
        {name: 'InnerMongolia',value: 416},
        {name: 'ShaanXi',value: 671},
        {name: 'JiLin',value: 574},
        {name: 'FuJian',value: 1140},
        {name: 'GuiZhou',value: 147},
        {name: 'GuangDong',value: 3142},
        {name: 'QingHai',value: 18},
        {name: 'Tibet',value: 1},
        {name: 'SiChuan',value: 1204},
        {name: 'NingXia',value: 77},
        {name: 'HaiNan',value: 190},
        {name: 'TaiWan',value: 16141},
        {name: 'HongKong',value: 12160},
        {name: 'Macau',value: 63},
    ];

    var optionMap = {
        title: {
            text: 'Chinese COVID-19 Map',
            subtext: 'Data from Dingxiang Doctor',
            x:'center'
        },

        //左侧小导航图标
        visualMap: {
            show : true,
            x: 'left',
            y: 'center',
            splitList: [
                {start: 1, end: 9},
                {start: 10, end: 99},
                {start: 100, end: 999},
                {start: 1000, end: 9999},
                {start: 10000},
            ],
            color: ['#F51105',
                    '#F55505',
                    '#FA8805',
                    '#FAB005',
                    '#FAD105',]
        },
        
        //配置属性
        series: [{
            name: '数据',
            type: 'map',
            mapType: 'china',
            roam: true, // 可移动地图
            label: {
                show: true,         // 省份名称
                fontWeight: 'bold', // 文字加粗

            },
            data: mydata,  //数据
            emphasis: {
                focus: true, // 聚焦显示
                label: {
                    show: true,
                    formatter: '{b}：{@value}', // 高亮时标签的文字，此处显示 name 和 value 值
                },
            },

            itemStyle: {
                normal: {
                    shadowBlur: 1, // 添加阴影
                }
            },
        }],
    };

    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('map'));

    //使用制定的配置项和数据显示图表
    myChart.setOption(optionMap);
</script>